<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="auto_aim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <auto_aim.Properties.Settings>
            <setting name="snBitmapW" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="snBitmapH" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="scbEnableDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scbDrawDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scbEnableAimHead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scbEnableAimPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scbExecutionProvider" serializeAs="String">
                <value />
            </setting>
            <setting name="scbModelName" serializeAs="String">
                <value />
            </setting>
            <setting name="stbPathLabels" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="scbPrecision" serializeAs="String">
                <value>FP16</value>
            </setting>
        </auto_aim.Properties.Settings>
    </userSettings>
</configuration>